body {
  font-family: Arial, Helvetica, sans-serif;
  background: white;
}

h1 {
  font-size: 28px;
  font-weight: 100;
  line-height: 28px;
  margin-top: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: #000000;
  font-size: 16px;
  font-weight: 100;
  line-height: 1x;
}

li:first-letter {
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

#celsius-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

#fahrenheit-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

hr {
  opacity: 0.1;
}

.weather-forecast {
  margin-top: 10px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  color: darkorchid;
}

.weather-forecast-temperature {
  font-size: 13px;
}

.weather-forecast-temperature-min {
  color: darkmagenta;
}

#source-code {
  text-decoration: none;
}
.overview {
  margin-bottom: 15px;
}

.view {
  padding: 10px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 35px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #59867b;
  border-radius: 5px;
  background: linear-gradient(
    179.4deg,
    rgb(253, 240, 233) 2.2%,
    rgb(255, 194, 203) 96.2%
  );
}

.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #2a2a3b;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  top: -34px;
  font-size: 14px;
}

.weather-temperature .active {
  color: #2a2a3b;
  cursor: default;
  text-decoration: none;
}
